/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/04/2015, 07:04:52
    Author     : Artur
*/

.ImagemProduto{
    width: 150px;    
}

#frmUploadImagens{
    display: none;
}

#divOpcoesVariante, #divOpcoesImagem {
    padding-top: 55px;
}

body #divPopPesqVariantes {        
    width: 700px;
    margin-left: -350px;
}